html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/computer-screens-running-programming-code-empty-software-developing-agency-office-computers-parsing-data-algorithms-background-neural-network-servers-cloud-computing-data-room.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8%;
  font-size: 1.2rem;
  background-color: rgba(34, 34, 34, 0.586);
  z-index: 1;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a:hover {
  color: rgb(171, 171, 171);
}

.navbar-left {
  margin-left: 6rem;

}

.navbar-right {
  margin-right: 6rem;
  
}
.navbar-right a {
  padding: 1rem;
}

.main-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.left-container,
.right-image {
  position: relative;
  z-index: 1;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6%;
  width: 40%;
  height: 40%;
  color: rgb(226, 226, 226);
}

.left-container h1 {
  font-size: 6rem;
  font-family: "Lora", serif;
  font-weight: 300;
  margin-bottom: 0%;
}
.left-container h2 {
  font-size: 3rem;
  font-weight: 300;
  font-family: "Lora", serif;
}

#btn-disc {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 1rem 4rem 1rem 4rem;
  border-radius: 4px;
  font-size: 1.4rem;
}

#btn-disc:hover {
  transition: 0.2s ease;
  color: black;

  background-color: white;
  cursor: pointer;
}

.right-image {
  bottom: 0;
  right: 0;
  height: 50%;
  width: 50%;
  position: absolute;
  display: flex;
  align-items: end;
  justify-content: end;
}

.right-image img {
  height: 96vh;
}

.about-container {
  width: 100%;
  height: 100%;
}

.about-container h2 {
  color: white;
}
